// Start Awesome Section
section#about.awesome.text-center
  .container
    h2.h1.text-capitalize.head-border why this is awesome
    p Lorem ipsum dolor sit amet consectetur adipisicing elit.
    .row
      // Start Box
      .col-md-4
        .box
          i.fas.fa-palette.fa-2x
          h3.text-capitalize colorful design
          p
            | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste,
            | sapiente fugit assumenda beatae
      // End Box
      // Start Box
      .col-md-4
        .box
          i.fas.fa-pencil-ruler.fa-2x
          h3.text-capitalize well crafted
          p
            | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste,
            | sapiente fugit assumenda beatae
      // End Box
      // Start Box
      .col-md-4
        .box
          i.fas.fa-spa.fa-2x
          h3.text-capitalize easy to customize
          p
            | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste,
            | sapiente fugit assumenda beatae
      // End Box
// End Awesome Section
