// Start First Features
section#features.sublist
  .container
    .row
      .col-md-6
        img.img-responsive.center-block.sub-img(src='images/travel.jpg')
      .col-md-6
        .list-info
          h3.text-capitalize.head-border make memory
          p
            | Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            | Provident possimus deserunt tempore consequuntur hic culpa
            | accusamus in. Unde aliquam obcaecati ducimus dolore suscipit
            | tempora adipisci reprehenderit qui debitis architecto. Magnam!
          ul.list-unstyled.list-icon
            li
              i.fas.fa-camera-retro.fa-2x.pull-left
              .text-info.pull-left
                h4.text-capitalize smile at camera!
                p
                  | Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            div(clas='clear')
            li
              i.far.fa-laugh-beam.fa-2x.pull-left
              .text-info.pull-left
                h4.text-capitalize live the moment!
                p
                  | Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            div(clas='clear')
// End First Features
// Start Second Features
section.sublist.sec-sec
  .container
    .row
      .col-md-6
        .list-info
          h3.text-capitalize.head-border enjoy the view
          p
            | Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            | Provident possimus deserunt tempore consequuntur hic culpa
            | accusamus in. Unde aliquam obcaecati ducimus dolore suscipit
            | tempora adipisci reprehenderit qui debitis architecto. Magnam!
          p Lorem, ipsum dolor sit amet consectetur adipisicing elit.
      .col-md-6
        img.img-responsive.center-block.sub-img(src='images/view.jpg')
// End Second Features
