doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    title=pageTitle
    link(rel="stylesheet" href="../css/bootstrap.min.css")
    link(rel="stylesheet" href="../css/icons.min.css")
    link(rel="stylesheet" href="../css/main.css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;800&family=Raleway:wght@300&display=swap")
 
  body
    include ./nav.pug