//Start Nav
nav.navbar.navbar-inverse.navbar-fixed-bottom
    .container
        .navbar-header
            button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#collapse-navbar", aria-expanded="false")
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand.text-uppercase(href="/") voyage
                span it
        .collapse.navbar-collapse#collapse-navbar
            ul.nav.navbar-nav.navbar-right.text-capitalize
                li
                    a(href="#services") services
                li
                    a(href="#features") features
                li
                    a(href="#about") about
                li
                    a(href="#pricing") pricing
                li
                    a(href="#reviews") reviews
                li
                    a(href="#contact") contact
                - if(isAuthenticated)
                    li
                        a(href="../auth/logout") Logout
                - else
                    li
                        a(href="../auth/login") Login
                    li
                        a(href="../auth/register") Register
//End Nav