// Start Price Section
section.price-options
  .container.text-center
    h2.h1.text-capitalize.head-border pricing option
    p.price-op-desc
      | Lorem ipsum dolor sit amet consectetur adipisicing elit.
    .row
      // Start First Option
      .col-md-4.basic
        h3 Basic
        .price-box.text-center
          span.usd &#36;
          span.price 100
          span.period.text-capitalize little adventurer
        // Start Configuration List
        ul.list-unstyled.text-capitalize
          li 1 ticket go and back
          li 1 week adventure
          li 1 guide
          li Basic Customizations
          li Email Support
        // End Configuration List
      // End First Option
      // Start Second Option
      .col-md-4
        h3 Professional
        .price-box.text-center
          span.usd &#36;
          span.price 300 
          span.period.text-capitalize pro adventurer
        p.text-capitalize.most-pop our most popular
        // Start Configuration List
        ul.list-unstyled.text-capitalize
          li 1 ticket go and back
          li 2 week adventure
          li 3 guides
          li professional Customizations
          li Email Support
        // End Configuration List
      // End Second Option
      // Start Third Option
      .col-md-4.expert
        h3 Expert
        .price-box.text-center
          span.usd &#36;
          span.price 500
          span.period.text-capitalize expert adventurer
        // Start Configuration List
        ul.list-unstyled.text-capitalize
          li 1 ticket go and back
          li 1 month adventure
          li 3 guides
          li professional Customizations
          li Email Support
        // End Configuration List
      // End Third Option
// End Price Section
