// Start Social Media
section.social-media.text-align-sm
  .container
    .row
      .col-sm-4
        h4.text-capitalize social media
        p
          | We are always with you, contact with us in anytime, anywhere and
          | our representative will replay.
      .col-sm-8
        a(href='#')
          i.fab.fa-facebook-f.fa-4x.fa-fw
        a(href='#')
          i.fab.fa-twitter.fa-4x.fa-fw
        a(href='#')
          i.fab.fa-linkedin-in.fa-4x.fa-fw
        a(href='#')
          i.fab.fa-pinterest-p.fa-4x.fa-fw
        a(href='#')
          i.fab.fa-behance.fa-4x.fa-fw
        a(href='#')
          i.fab.fa-hackerrank.fa-4x.fa-fw
        a(href='#')
          i.fab.fa-instagram.fa-4x.fa-fw
// End Social Media
