// Start Stylish Section
section.stylish
  .overlay
    .container
      h2.stylish-head.h1.text-capitalize.text-center.head-border.text-uppercase
        | want an adventure!
      p.stylish-desc.text-center.text-capitalize
        | let&apos;s start our journey
      button.stylish-btn.text-capitalize book now
// Start Stylish Section
