// Start Testimonials
section.testim
  .container
    h2.h1.text-capitalize.text-center.head-border Testimonials
    p.text-center.testim-desc
      | Lorem ipsum dolor sit amet consectetur adipisicing elit.
    .row
      // Start Box
      .col-md-4
        .box
          p.comment
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto
            | illum blanditiis suscipit voluptates minus numquam, reiciendis
            | ab, neque vitae labore placeat?
          .media
            .media-left
              img.media-object.img-thumbnail.img-circle(height='50' width='50' src='images/avatar.jpg' alt='avatar')
            .media-body
              h4.media-heading Janet Doe
              p Fashion Designer
      // End Box
      // Start Box
      .col-md-4
        .box
          p.comment
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto
            | illum blanditiis suscipit voluptates minus numquam, reiciendis
            | ab, neque vitae labore placeat?
          .media
            .media-left
              img.media-object.img-thumbnail.img-circle(height='50' width='50' src='images/avatar2.jpg' alt='avatar')
            .media-body
              h4.media-heading Jessica Smith
              p Engineer
      // End Box
      // Start Box
      .col-md-4
        .box
          p.comment
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto
            | illum blanditiis suscipit voluptates minus numquam, reiciendis
            | ab, neque vitae labore placeat?
          .media
            .media-left
              img.media-object.img-thumbnail.img-circle(height='50' width='50' src='images/avatar3.jpg' alt='avatar')
            .media-body
              h4.media-heading Martha Ulrich
              p Film Maker
      // End Box
// End Testimonials
