# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Dependency directories
/vendor/
/bower_components/

# Build output
/build/
/dist/

# Environment variables and secrets
.env

# Editor and IDE files
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Logs
logs/
*.log

# Test and coverage reports
/coverage/
/.nyc_output/

# Miscellaneous
.sass-cache/
.tmp/
*.tmp
*.bak
*.cache
*.csv
*.iml
*.log*
*.out
*.pid
*.seed
*.sql
*.sublime-workspace
*.swp
*.swo
*.tgz
*.txt~
*.un~
*.zip
