doctype html
html
  head
    title VoyageIt Email Confirmation
  body
    div.site-branding
      h1 VoyageIt
    p
      | Hi there,
      br
      | Please confirm your email address by clicking the link below.
    a(href=confirmationLink) Confirm Email