include ./partials/head.pug
include ./partials/header.pug
include ./partials/social.pug
include ./partials/services.pug
include ./partials/features.pug
include ./partials/awesome.pug
include ./partials/price.pug
include ./partials/reviews.pug
include ./partials/stylish.pug
include ./partials/contact.pug
include ./partials/footer.pug
